# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
build/
dist/

# env
.env
.env*.local

# vercel
.vercel

# misc
.DS_Store
*.log
npm-debug.log*
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts
